*{
    font-family: arial;
}
body{
    background: #fcfcfc;
}
a{
    text-decoration: none;
}
#app{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 5px -1px rgba(156,156,156,1);
    -moz-box-shadow: 0px 3px 5px -1px rgba(156,156,156,1);
    box-shadow: 0px 1px 7px -1px rgba(156,156,156,1);   
} 

.form .title{
    font-size: 18px;
}
.form input[type=text]{
    width: 150px;
    padding: 2px;
    font-size: 17px;
    box-sizing: border-box;
}
.form button{

}
.arch a{
    display: inline-block;
    margin-bottom: 3px;   
}
.error{
    margin-top: 10px;
    color: red;
}